<div class="project-container">
    <mat-grid-list cols="3" rowHeight="400px" gutterSize="16px">
      <mat-grid-tile *ngFor="let project of projects">
        <mat-card class="project-card">
          <img mat-card-image [src]="project.image" alt="{{ project.title }}">
          <mat-card-header  >
            <mat-card-title class="project-card-title">{{ project.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content >
            <p>{{ project.description }}</p>
          </mat-card-content >
          <mat-card-actions>
            <a mat-button href="{{ project.link }}" target="_blank">View Project</a>
            <a mat-button href="{{ project.repo }}" target="_blank">View Code</a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  