.skills-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

mat-chip-list {
  display: flex;
  flex-wrap: wrap;
}

mat-chip {
  margin: 5px;
}
